.a td{
    color:blue;
    padding: 10px;
}
i{
    color:gold;
}
.heading{
    text-decoration:underline;
    padding-bottom: 10px;
    background-color:gold;
}
#underline{
    border-bottom: 2px solid rgba(212,175,55,0.5);
    display: inline-block;
    padding-bottom: 5px;
}
.report span{
    border: 1px solid rgba(212,175,55,0.5);
    margin-right:25px;
    box-shadow: 2px 2px gray;
    padding:20px;
    display:inline-block;
    margin-top:20px;
}
.report span i{
    padding-left:25px;
}
.report div{
    font-family:Georgia;
    margin-top: 25px;
    font-size: 18pt;
    font-weight: bold;
}
input:focus{
    background-color: red;
    color:white;
}
thead{
    background-color: blue;
    color:gold;
}
tbody{
    background-color: white;
}
.table{
    width: 100%;
    box-shadow: 2px 2px gray;
    border:2px solid gold;
    border-collapse: collapse;
}
.table td{
padding: 20px;
}
.table tr{
    border-bottom: 2px solid gold;
}
.checkin{
    font-size:11pt;
    padding-right: 10px;
    color:green;
}
.pending{
    font-size:11pt;
    padding-right: 10px;
    color:orange;
}
